<div class="container">
  <h4>Registrar nueva mascota</h4>
  <form [formGroup]="nuevaMascotaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" />

    </div>

    <div class="form-group">
      <label for="fechanacimiento">Fecha de Nacimiento</label>
      <input type="text" formControlName="fechanacimiento" class="form-control" />

    </div>

    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input type="text" formControlName="sexo" class="form-control" />

    </div>

    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" formControlName="color" class="form-control" />

    </div>

    <div class="form-group">
      <label for="password">Veterinario asignado</label>
      <select formControlName="rol">
        <option [ngValue]="null" disabled>Elija un veterinario</option>
        <option *ngFor="let vet of veterinarios" [ngValue]="vet.id">
          Dr/a. {{vet.apellido}}, {{ vet.nombre }}
        </option>
      </select>
    </div>

    <label for="senasParticulares">Señas Particulares</label>
    <textarea type="text" formControlName="senasParticulares" class="form-control"></textarea>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Registrar Mascota
      </button>
    </div>
  </form>
</div>