<h1 class="text-center">Bienvenidos a Sistema Web de Historia clínica de mascotas</h1>
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let mascota of mascotas; let i = index">
        <div class="picsum-img-wrapper">
            <img class="d-block w-100" [src]="mascota.imagenUrl">
        </div>
        <div class="carousel-caption">
            <h3>{{mascota.nombre}}</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
</ngb-carousel>