<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/"*ngIf="usuarioLogueado">Sistema de Historia Clinica de Mascotas</a>
      <a class="nav-item nav-link" routerLink="/login"*ngIf="!usuarioLogueado">Ingresar</a>
      <a class="nav-item nav-link" routerLink="/perfil" *ngIf="usuarioLogueado">Bienvenido {{usuarioLogueado.nombre}}</a>
      <a class="nav-item nav-link" (click)="logout()" *ngIf="usuarioLogueado">Salir</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alerta></alerta>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
